6 Практическая работа.

Задание №6

Подключение библиотек:

In [40]:
import pandas as pd
import scipy.stats as sts
import seaborn as sns

Создание датафрейма:

In [41]:
throws = pd.DataFrame({'points':[1, 2, 3, 4, 5, 6],
                    'observed':[97, 98, 109, 95, 97, 104],
                    'expected':[100, 100, 100, 100, 100, 100]})
throws

   points  observed  expected
0       1        97       100
1       2        98       100
2       3       109       100
3       4        95       100
4       5        97       100
5       6       104       100

Проверка с помощью критерия Хи-квадрат:

In [42]:
sts.chisquare(throws['observed'], throws['expected'])

Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

Основываясь на результатах теста (p-значение > 0.05) можно сделать вывод, что распределение равномерное.

Задание №7

Создание датафрейма:

In [43]:
data = pd.DataFrame({'Женат': [89,17,11,43,22,1], 
                    'Гражданский брак': [80,22,20,35,6,4],
                    'Не состоит в отношениях': [35,44,35,6,8,22]})

data.index = ['Полный рабочий день',
            'Частичная занятость',
            'Временно не работает',
            'На домохозяйстве',
            'На пенсии',
            'Учёба']

data

                       Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день     89                 80                       35
Частичная занятость       17                 22                       44
Временно не работает      11                 20                       35
На домохозяйстве         43                 35                        6
На пенсии                 22                  6                        8
Учёба                     1                  4                       22

Проверка при помощи chi2:

In [44]:
sts.chi2_contingency(data)[:3]

(122.29654948595365, 1.7291616900960234e-21, 10)

Поскольку p-значение гораздо меньше 0.05 можно сделать вывод, что семейное положение влияет на занятость